{%extends "Presentacion/base.html"%}

{% block title %} PRESENTACIÓN - JAVASCRIPT {% endblock %}

{% block head%}

{% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a>
      <li class="active"><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li><a href="/"> JavaScript</a></li>
  <li class="active">Animación</li>
{% endblock %}



{% block barralateral%}
    <li><a href="/jsapp/llamadajsapp"><span class="glyphicon glyphicon-leaf"></span> JavaScript</a></li> 
    <li><a href="/jsapp/llamadajQuery"><span class="glyphicon glyphicon-leaf"></span> jQuery</a></li>
    <li><a href="/jsapp/llamadadialogo"><span class="glyphicon glyphicon-leaf"></span> Diálogo</a> </li>
    <li class="active"><a href="/jsapp/llamadaanimacion"><span class="glyphicon glyphicon-leaf"></span> Animación</a></li>
{% endblock %}

{% block BotonNumero %} 11 {% endblock %}

{%block content%}
<!--/ barra navegación interna-->
<h1 id="animar"> Integrando jQuery y CSS </h1>
<div id="panel">
<h4>
<center> 
<img src="/static/Presentacion/img/tecnologias/js.png" alt="img 1"/>
<img src="/static/Presentacion/img/js/jQuery_logo.png" alt="img 2"/> 
</center> 
<li class="glyphicon glyphicon-leaf"> http://daneden.github.io/animate.css/ </li>
<br><br>
<center><img id="border" src="/static/Presentacion/img/js/animaciones_animate.png" alt="img 3"/></center>
<li class="glyphicon glyphicon-leaf"> Al igual que  la librería jQuery se descarga de la misma forma, presionando "Download Animate.css" </li>
<br><br>
<li class="glyphicon glyphicon-leaf"> 1: Integración con la aplicación </li>
<br><br>
<center><img id="border" src="/static/Presentacion/img/js/animacion_usage.png" alt="img 3"/></center>
</h4>
</div>





<!--Button back page-->
<a href="/jsapp/llamadadialogo"> 
<button id="BackButton" type="button" class="btn btn-success">
<span class="glyphicon glyphicon-arrow-left"></span>
Diálogos
</button>
</a>
<!--/Button back page-->
<!--Button next page-->
<a href="/webserviceapp/llamadawebserviceapp"> 
<button id="NextButton" type="button" class="btn btn-success">
Web service
<span class="glyphicon glyphicon-arrow-up"></span>
</button>
</a>
<!--/Button next page-->
{% endblock %}

{% block scripts %}        
 <script>
 $('#animar').addClass('animated zoomIn');
 $('#panel').addClass('animated lightSpeedIn');
 $('#panel').addClass('rotateIn');
 </script>
{% endblock %}
