{%extends "Presentacion/base.html"%}

{% block title %} PRESENTACIÓN - JAVASCRIPT {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a>
      <li class="active"><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li><a>JavaScript</a></li>
  <li class="active">Diálogos</li>
{% endblock %}


{% block barralateral%}
    <li><a href="/jsapp/llamadajsapp"><span class="glyphicon glyphicon-leaf"></span> JavaScript</a></li> 
    <li><a href="/jsapp/llamadajQuery"><span class="glyphicon glyphicon-leaf"></span> jQuery</a></li>
    <li class="active"><a href="/jsapp/llamadadialogo"><span class="glyphicon glyphicon-leaf"></span> Diálogos</a> </li>
    <li><a href="/jsapp/llamadaanimacion"><span class="glyphicon glyphicon-leaf"></span> Animaciones</a></li>
{% endblock %}
{% block BotonNumero %} 10 {% endblock %}
{% block content %}
    <h1> Diálogos </h1>

    <h4> Están predefinidos y listos para ser utilizados donde sea necesario mostrar mensajes de alerta, de ayuda entre otros.</h4>

    <h4 id="var1"><span id="var1"class="glyphicon glyphicon-leaf"></span></h4>
    <h4 id="var2"><span id="var2"class="glyphicon glyphicon-leaf"></span></h4>
    <h4 id="var3"><span id="var3"class="glyphicon glyphicon-leaf"></span></h4>

    <!--Button back page-->
    <a href="/jsapp/llamadajQuery"> 
    <button id="BackButton" type="button" class="btn btn-success">
    <span class="glyphicon glyphicon-arrow-left"></span>
    jQuery
    </button>
    </a>
    <!--/Button back page-->
    <!--Button next page-->
    <a href="/jsapp/llamadaanimacion"> 
    <button id="NextButton" type="button" class="btn btn-success">
    Animaciones
    <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
    </a>
{% endblock %}

{% block scripts %}        
 <script>
 
 jQuery(document).ready(function($){
   var v1 = confirm("¿Está seguro que desea realizar esta operación?");
   var v2 = confirm("¿De veras?");
   var v3 = confirm("¿SEGURO?");
   $('#var1').html(v1);
   $('#var2').html(v2);
   $('#var3').html(v3);
   alert("Esto es una alerta: alert ");
 });

 </script>
{% endblock %}
