{%extends "Presentacion/base.html"%}

{% block title %} PRESENTACIÓN - JAVASCRIPT {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a>
      <li class="active"><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li class="active"> jQuery</li>
{% endblock %}
 

{% block barralateral%}
    <li><a href="/jsapp/llamadajsapp"><span class="glyphicon glyphicon-leaf"></span> JavaScript</a></li>  
    <li class="active"><a href="/jsapp/llamadajQuery"><span class="glyphicon glyphicon-leaf"></span>jQuery</a></li>
    <li><a href="/jsapp/llamadadialogo"><span class="glyphicon glyphicon-leaf"></span> Diálogos</a> </li>
    <li><a href="/jsapp/llamadaanimacion"><span class="glyphicon glyphicon-leaf"></span> Animaciones</a></li>
{% endblock %}
{% block BotonNumero %} 8 {% endblock %}

{%block content%}
      <!--Button back page-->
      <a href="/jsapp/llamadajsapp"> 
      <button id="BackButton" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-arrow-left"></span>
      JavaScript
      </button>
      </a>
      <!--/Button back page-->
      <!--Button next page-->
      <a href="/jsapp/llamadajQuery2"> 
      <button id="NextButton" type="button" class="btn btn-success">
      Siguiente
      <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      </a>
      <!--/Button next page-->
      <br><br>
      <h1> jQuery </h1>
      <h4> jQuery es una librería js, es software libre y de código abierto que nos permite simplificar la manera en que se interactúa js con los documentos HTML, como lo es manipular eventos, desarrollar animaciones.</h4>
      <h1> 1: Descarga</h1>
      <h4>Solamente es necesario descargar la librería e incluirla en el proyecto (presione el logo para ir a descagas)</h4>
      <center><p><img id="border" href="" src ="/static/Presentacion/img/js/jQuery_logo.png"></p></center>
      <h4>La versión empleada para esta presentación es jquery-1.11.1.min, para descargar hay que presionar el botón secundario (derecho del mouse) en el enlace "Dowload the compressed, production jquery-1.11.1" y seleccionar "guardar enlace como", luego podrá seleccionarse el directorio de destino</h4>
      <center><p><img id="border" src ="/static/Presentacion/img/js/jQuery_version.png"></p></center>
      <br></br>
      <h1> 2: Instalación</h1>
      <h4> Guardar el archivo descargado al proyecto en el caso de DJango hay que descargarlo en la carpeta static/js/jquery-1.11.1.min.js</h4>
      <center><p><img id="border" src ="/static/Presentacion/img/js/jQuery_directorio.png"></p></center>
      <h1>3: Incluir la librería</h1>
      <h4>Hay que incluir la librería en la página base.html para poder utilizar la librería en todas las páginas que hereden de ella</h4>
      <center><p><img id="border" src ="/static/Presentacion/img/js/jQuery_incluir.png"></p></center>

      
      <!--Button back page-->
      <a href="/jsapp/llamadajsapp"> 
      <button id="BackButton" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-arrow-left"></span>
      JavaScript
      </button>
      </a>
      <!--/Button back page-->
      <!--Button next page-->
      <a href="/jsapp/llamadajQuery2"> 
      <button id="NextButton" type="button" class="btn btn-success">
      Siguiente
      <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      </a>
      <!--/Button next page-->
{% endblock%}


{% block scripts %}        
 <script>

 </script>
{% endblock %}
