{%extends "Presentacion/base.html"%}

{% block title %} PRESENTACIÓN - JAVASCRIPT {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a>
      <li class="active"><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li> <a href="/jsapp/llamadajQuery">  jQuery</a></li>
  <li class="active"> Hola mundo</li>
{% endblock %}
 

{% block barralateral%}
    <li><a href="/jsapp/llamadajsapp"><span class="glyphicon glyphicon-leaf"></span> JavaScript</a></li> 
    <li class="active"><a href="/jsapp/llamadajQuery"><span class="glyphicon glyphicon-leaf"></span> jQuery</a></li>
    <li><a href="/jsapp/llamadadialogo"><span class="glyphicon glyphicon-leaf"></span> Diálogos</a> </li>
    <li><a href="/jsapp/llamadaanimacion"><span class="glyphicon glyphicon-leaf"></span> Animaciones</a></li>
{% endblock %}


{% block BotonNumero %} 9 {% endblock %}
{%block content%}
<!--Button back page-->
<a href="/jsapp/llamadajQuery"> 
<button id="BackButton" type="button" class="btn btn-success">
<span class="glyphicon glyphicon-arrow-left"></span>
Anterior
</button>
</a>
<!--/Button back page-->
<!--Button next page-->
<a href="/jsapp/llamadajQuery3"> 
<button id="NextButton" type="button" class="btn btn-success">
Siguiente
<span class="glyphicon glyphicon-arrow-right"></span>
</button>
</a>
<br><br>
<!--/Button next page-->
<div id="diapo">
      <h1> 4. Ejemplo: Hola mundo con jQuery </h1>
      <h4>      
      <br><br>
      <li class="glyphicon glyphicon-leaf"> Se creará una página de ejemplo que reciba una cadena de carácteres y la muestre en la página web </li>
      <br>
      <li class="glyphicon glyphicon-leaf"> Crear el nuevo template </li>
      <br><br>
      <center><p><img id="border" src ="/static/Presentacion/img/js/jQuery2_crearTemplate.png"></p></center>
      <br>
      <li class="glyphicon glyphicon-leaf"> Copiar el formato de jQuery.html en jQuery3.html modificando el breadcrum y los botones activos en relación al nuevo template</li>
      <br>
      <li class="glyphicon glyphicon-leaf"> Agregamos el nuevo template a views.py y urls.py de la aplicación jsapp </li>
      <br><br>
       <center><p><img id="border" src ="/static/Presentacion/img/js/jQuery2_url_view.png"></p></center>
      <br>
      <li class="glyphicon glyphicon-leaf">  incluimos el código js en el bloque de script, que modifica la etiqueta que contenga el id "holamundo" y lo setea con la cadena de texto que recibe por el dialogo prompt</li>
      <br><br>
       <center><p><img id="border" src ="/static/Presentacion/img/js/jQuery2_script.png"></p></center>
      <br>
      <li class="glyphicon glyphicon-leaf"> A continuación el ejemplo implementado</li>
      </h4>

      
</div>

<!--Button back page-->
<a href="/jsapp/llamadajQuery"> 
<button id="BackButton" type="button" class="btn btn-success">
<span class="glyphicon glyphicon-arrow-left"></span>
Anterior
</button>
</a>
<!--/Button back page-->
<!--Button next page-->
<a href="/jsapp/llamadajQuery3"> 
<button id="NextButton" type="button" class="btn btn-success">
Siguiente
<span class="glyphicon glyphicon-arrow-right"></span>
</button>
</a>
{% endblock %}


{% block scripts %}        
<script type="text/javascript">
  $('#NextButton').click(function(){
    $('#diapo').addClass(fadeInRight);
  });
  $('#BackButton').click(function(){
    $('#diapo').addClass(fadeInLeft);
  });
</script>
{% endblock %}
