{%extends "Presentacion/base.html"%}

{% block title %} PRESENTACIÓN - JAVASCRIPT {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/"> Web Service</a>
      <li class="active"><a href="/jsapp/llamadajsapp"> JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li> <a> jQuery</a></li>
  <li class="active"> Hola mundo</li>
{% endblock %}
 

{% block barralateral%}
    <li><a href="/jsapp/llamadajsapp"><span class="glyphicon glyphicon-ok"></span> JavaScript</a></li> 
    <li class="active"><a href="/jsapp/llamadajQuery"><span class="glyphicon glyphicon-ok"></span> jQuery</a></li>
    <li><a href="/jsapp/llamadadialogo"><span class="glyphicon glyphicon-ok"></span> Diálogos</a> </li>
    <li><a href="/jsapp/llamadaanimacion"><span class="glyphicon glyphicon-ok"></span> Animaciones</a></li>
{% endblock %}
{% block BotonNumero %} 10 {% endblock %}
{%block content%}
      <h1> Hola mundo con jQuery </h1>
      <h4>      
      <br><br>
      <li id="holamundo" class="glyphicon glyphicon-leaf"> </li>
      <br><br><br><br><br><br>
      </h4>


      <!--Button back page-->
      <a href="/jsapp/llamadajQuery2"> 
      <button id="BackButton" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-arrow-left"></span>
      Anterior
      </button>
      </a>
      <!--/Button back page-->
      <!--Button next page-->
      <a href="/jsapp/llamadadialogo"> 
      <button id="NextButton" type="button" class="btn btn-success">
      Diálogos
      <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      </a>
      <!--/Button next page-->
{% endblock %}


{% block scripts %}        
 <script>
   jQuery(document).ready(function($){

   var res = prompt(" Ingrese su texto aquí ");
   $("#holamundo").html(res);

   });
 </script>
{% endblock %}
