{%extends "Presentacion/base.html"%}

{% block title %} PRESENTACIÓN - JAVASCRIPT {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a>
      <li class="active"><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li><a href="./"> JavaScript</a></li>
  <li class="active"> JavaScript</li>
{% endblock %}
 

{% block barralateral%}
    <li class="active"><a href="/jsapp/llamadajsapp"><span class="glyphicon glyphicon-leaf"></span> JavaScript</a></li> 
    <li><a href="/jsapp/llamadajQuery"><span class="glyphicon glyphicon-leaf"></span> jQuery</a></li>
    <li><a href="/jsapp/llamadadialogo"><span class="glyphicon glyphicon-leaf"></span> Diálogos</a> </li>
    <li><a href="/jsapp/llamadaanimacion"><span class="glyphicon glyphicon-leaf"></span> Animaciones</a></li>
{% endblock %}
{% block BotonNumero %} 7 {% endblock %}
{%block content%}
      <h1> ¿Qué es JavaScript? </h1>
      <h4> 
      JavaScript o JS es un lenguaje de programación interpretado, orientado a  objetos del estándar ECMAScript (una especificación de lenguaje de programación), JS es utilizado principalmente para controlar el comportamiento, animaciones y eventos de una página web. Genaralmente es interpretado por parte del cliente es decir ejecutado en el ordenador de quién consume la página html, para dar un ejemplo de programas con intérpretes incluidos son los navegadores web (web browser), los cuales interpretan el lenguaje js dando la funcionalidad deseada. Vale decir que de igual forma existen implementaciones de JS por el lado del servidor (Node.js).
      <br>
      <li class="glyphicon glyphicon-leaf"> https://developer.mozilla.org/es/docs/Web/JavaScript.</li>

      <br><br>
      <li class="glyphicon glyphicon-leaf"> No es una prolongación de Java.</li>
      <br>
      <li class="glyphicon glyphicon-leaf"> Es un lenguaje interpretado.</li>
      <br>
      <li class="glyphicon glyphicon-leaf"> Permite controlar eventos, comportamiento y animaciones de la página.</li>
      <br>
      </h4>
      <!--Button back page-->
      <a href="/djangoapp/llamadaDjangoapp"> 
      <button id="BackButton" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-arrow-up"></span>
      Framework
      </button>
      </a>
      <!--/Button back page-->
      <!--Button next page-->
      <a href="/jsapp/llamadajQuery"> 
      <button id="NextButton" type="button" class="btn btn-success">
      jQuery
      <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      </a>
      <!--/Button next page-->
{% endblock %}


{% block scripts %}        
 <!-- <script>
 res = prompt("Ingrese su nombre");
 </script> -->
{% endblock %}
