{%extends "Presentacion/base.html"%}

  {% block title %} IMPLEMENTACION {% endblock %}

  {% block nav%}
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    </button>
    <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li class="active"><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
    </ul>
  {% endblock%}
  
  {% block head %}
  {% endblock %} 
  

  {% block breadcrumb%}
    <li><a href="/"> Principal</a></li>
    <li><a href="/webserviceapp/llamadawebserviceapp/"> Web Service</a></li>
    <li class="active"> Implementación </li>
  {%endblock%}

  {% block barralateral%}
    <li><a href="/webserviceapp/llamadawebserviceapp/"><span class="glyphicon glyphicon-leaf"></span> ¿Qué es un web Service?</a></li>
    <li><a href="/webserviceapp/llamadaObservatorio/"><span class="glyphicon glyphicon-leaf"></span> Relación con el observatorio</a> </li>
    <li class="active" ><a href="/webserviceapp/llamadaImplementacion/"><span class="glyphicon glyphicon-leaf"></span> Implementación</a></li>
  {% endblock %}
  {% block BotonNumero %}14{% endblock%}
  {%block content%}
  <H1>ACÁ DJ YELDEZ HARÁ SU MAGIA</H1>
  <h4 id="consulta"> </h4>

  <table class="table table-hover" id="tablatweets">


  </table>

  {% endblock %}

  {% block scripts %}     
 <script type="text/javascript">
    var bd = "{{tweets}}".replace(/&quot;/g,"\"");
    bd = bd.replace(/@/g,"&#64;");
    bd = bd.replace(/""/g,"\"");
    bd = bd.replace(/\\/g,"");
    var obj = jQuery.parseJSON(bd);
    for(var i=0;i<20;i++){
    $( "#tablatweets" ).append( 
    "<tr><td colspan=\"1\" class=\"success\" align=\"center\">Geo: "+obj[i].geo.replace("!","")+"</td>      <td colspan=\"1\" class=\"success\" align=\"center\">Created_at:"+obj[i].fechaCreacion+"</td>    </tr>    <tr>      <th colspan=\"2\" class=\"active\">Texto: "+obj[i].texto+"</th>    </tr><tr style=\"height:20px;\"></tr>" );
    }
  </script>

  {% endblock %}