{%extends "Presentacion/base.html"%}

  {% block title %} Observatorio {% endblock %}

  {% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li class="active"><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>
   
{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
  <li class="active"> Relación con el Observatorio</li>

{% endblock %}

<!-- Barra de navegacion de la pagina html actual-->

{% block barralateral%}
      <li class="active"><a href="/webserviceapp/llamadawebserviceapp/"><span class="glyphicon glyphicon-leaf"></span> ¿Qué es un web Service?</a></li>
      <li><a href="/webserviceapp/llamadaObservatorio/"><span class="glyphicon glyphicon-leaf"></span> Relación con el observatorio</a> </li>
      <li><a href="/webserviceapp/llamadaImplementacion/"><span class="glyphicon glyphicon-leaf"></span> Implementación</a></li>
{% endblock %}

{% block BotonNumero %}13{% endblock%}
{%block content%}
<h1> Observatorios</h1>

<h4> <span class="glyphicon glyphicon-leaf"></span>  En el presente curso se tiene como objetivo crear dos observatorios que analizan los sentimientos de Tweets para distintos ámbitos </h4>
<h4> <span class="glyphicon glyphicon-leaf"></span>  Los dos observatorios son "Bicio:  Observatorio de Seguridad Vial" y "SismObserver: Observatorio de Terremotos" </h4>
<h4>  <span class="glyphicon glyphicon-leaf"></span> En el trabajo a realizar será necesario implementar un webservices tanto  en web como en aplicaciones moviles, para poder mostrar los resultados obtenidos luego del análisis y estudio de los Tweets entregados inicialmente en una base de datos SQL, es por lo mismo que es importante comprender con anterioridad las limitaciones y falencias que se pueden tener al aplicarlo.</h4>


<a href="/webserviceapp/llamadawebserviceapp/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Web Service </button></a>
<a href="/webserviceapp/llamadaImplementacion/"><button id="NextButton" type="button" class="btn btn-success"> Implementación <span class="glyphicon glyphicon-arrow-right"></span> </button></a>
{% endblock %}

{% block scripts %}        
 <!-- <script>
 res = prompt("Ingrese su nombre");
 </script> -->
{% endblock %}