{%extends "Presentacion/base.html"%}

{% block title %} WEB SERVICE {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li class="active"><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>
   
{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li class="active">Web Service</li>

{% endblock %}

<!-- Barra de navegacion de la pagina html actual-->

{% block barralateral%}
      <li class="active"><a href="./"><span class="glyphicon glyphicon-leaf"></span> ¿Qué es un web Service?</a></li>
      <li><a href="/webserviceapp/llamadaObservatorio/"><span class="glyphicon glyphicon-leaf"></span> Relación con el observatorio</a> </li>
      <li><a href="/webserviceapp/llamadaImplementacion/"><span class="glyphicon glyphicon-leaf"></span> Implementación</a></li>
{% endblock %}

{% block BotonNumero %}12{% endblock%}
{%block content%}
<h1> WEB SERVICE </h1>
<ul>
{%for i in tweets%}
  <li>{{i}}</li>
{% endfor %}
</ul>
<h4> <span class="glyphicon glyphicon-leaf"></span>  Un servicio web es una tecnología que utiliza un conjunto de protocolos y estándares que sirven para intercambiar datos entre aplicaciones, en este caso se habla de servicios web basados en REST.</h4>
<h4> <span class="glyphicon glyphicon-leaf"></span>  REST es una arquitectura que busca una interfaz uniforme de comunicación, usualmente se usa HTTP. Los servicios web basados en REST disponibilizan operaciones o información como recursos que pueden ser accedidos por HTTP</h4>

<a href="/jsapp/llamadajsapp/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> JavaScript </button></a>
<a href="/webserviceapp/llamadaObservatorio/"><button id="NextButton" type="button" class="btn btn-success"> Observatorio <span class="glyphicon glyphicon-arrow-right"></span> </button></a>
{% endblock %}

{% block scripts %}        
 <!-- <script>
 res = prompt("Ingrese su nombre");
 </script> -->
{% endblock %}
