{%extends "Presentacion/base.html"%}

  {% block title %} TITULO {% endblock %}

  {% block nav%}
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    </button>
      <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li class="active" ><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
    </ul>
  {% endblock%}

  {% block breadcrumb%}

  {%endblock%}

  {% block barralateral%}
  {% endblock %}

  {%block content%}
  {% endblock %}

  {% block scripts %}        
  {% endblock %}
