{%extends "Presentacion/base.html"%}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li class="active" ><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>
{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li><a href="/djangoapp/llamadaDjangoapp"> Framework</a></li>
  <li class="active" href="./">Bootstrap</li>
{%endblock%}

{% block barralateral%}
      <li><a href="/djangoapp/llamadaDjangoapp"><span class="glyphicon glyphicon-leaf"></span> Django</a></li>
      <li><a href="/djangoapp/llamadahtml5"><span class="glyphicon glyphicon-leaf"></span> HTML 5</a> </li> 
      <li><a href="/djangoapp/llamadacss"><span class="glyphicon glyphicon-leaf"></span> CSS</a></li>
      <li class="active"><a href="./"><span class="glyphicon glyphicon-leaf"></span> Bootstrap</a></li>
{% endblock %}

{% block BotonNumero %} 7 {% endblock %}

{%block content%}
    <h1>BOOTSTRAP:)</h1>
    <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <h3>ACÁ SE EXPLICARÁ BOOTSTRAP<h3>

    <a href="/djangoapp/llamadacss/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> CSS </button></a>
    <a href="/djangoapp/llamadaDjangoapp/"><button id="NextButton" type="button" class="btn btn-success"> Django <span class="glyphicon glyphicon-arrow-up"></span> </button></a>
{% endblock %}


