{%extends "Presentacion/base.html"%}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li class="active" ><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>
{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li><a href="/djangoapp/llamadaDjangoapp"> Framework</a></li>
  <li class="active" href="./">CSS</li>
{%endblock%}


{% block barralateral%}
      <li><a href="./"><span class="glyphicon glyphicon-leaf"></span> Django</a></li>
      <li><a href="/djangoapp/llamadahtml5"><span class="glyphicon glyphicon-leaf"></span> HTML 5</a> </li> 
      <li class="active"><a href="/djangoapp/llamadacss"><span class="glyphicon glyphicon-leaf"></span> CSS</a></li>
{% endblock %}

{% block BotonNumero %} 6 {% endblock %}

{%block content%}
    <a href="/djangoapp/llamadahtml5/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> HTML 5 </button></a>
    <a href="/jsapp/llamadajsapp"><button id="NextButton" type="button" class="btn btn-success"> JavaScript <span class="glyphicon glyphicon-arrow-up"></span> </button></a>
    <br></br>
    <h1>CSS</h1>
    <h4> <span class="glyphicon glyphicon-leaf"></span> CSS es la sigla de <b>C</b>ascading <b>S</b>tyle <b>S</b>heets, que significa Hoja de Estilo en Cascada.</h4>
    <h4> <span class="glyphicon glyphicon-leaf"></span> CSS es un lenguaje utilizado para dar diseño estructurado a un documento escrito en HTML en la mayoría de sus versiones.</h4> 
    <h4> <span class="glyphicon glyphicon-leaf"></span> CSS, en general es bastante sencillo entenderlo, con experiencia suficiente y talento en el diseño se pueden realizar mezclas de colores y estilos muy originales para una página web.</h4>

    <h4> <span class="glyphicon glyphicon-leaf"></span> Los archivos .css se encuentran en al carpeta "static" de la aplicación principal, aunque pueden estar en las otras aplicaciones, pero se prefiere extenderlos de la base para no tener que crear más archivos de los necesarios.<h4>

    <h4> <span class="glyphicon glyphicon-leaf"></span> El formato básico para trabajar en CSS consiste en llamar a una ID o CLASE en especifico con los comando <b>#ID</b> o <b>.clase</b>, las cuales sus características podrán ser modificadas bajo palabras reservadas de la forma <b>propiedad:valor;</b><h4>

    <h4> <span class="glyphicon glyphicon-leaf"></span> A continuación se puede ver un ejemplo de un archivo .css, sacado de esta misma página, en donde se les dan las características al breadcrumb(clase) y la barra lateral(ID) utilizada actualmente: </h4>

    <center><p><img id="border" src="/static/Presentacion/img/EjemploCSS/1.png"></p></center>

    <h1>¡BOOTSTRAP!</h1>

    <h4> <span class="glyphicon glyphicon-leaf"></span> Básicamente Bootstrap es el Framework de Twitter, el cual ayuda a crear interfaces web de manera rápida, dinámica y adaptativa con CSS y Javascript. </h4>

    <h4> <span class="glyphicon glyphicon-leaf"></span> En la presente página se utiliza Bootstrap principalmente para toda la base, es decir, para la barra navegadora, breadcrumbs, botones y símbolos. </h4>

    <h4> <span class="glyphicon glyphicon-leaf"></span> Todo esto se puede descargar desde su página oficial y su implementación es bastante sencilla, lo que permite al diseñador web recién iniciado poder explayarse más en su trabajo. </h4>

    <h1>Algunos ejemplos de Bootstrap</h1>


    <div><center><a href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-copyright-mark"></span> Botón de Twitter Bootstrap </a><a href="#" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-play"></span> Otro Botón</a><a href="#" class="btn btn-warning btn-lg active"><span class="glyphicon glyphicon-wrench"></span> Otro Más</a><a href="#" class="btn btn-danger btn-lg disabled">Botón Inútil <span class="glyphicon glyphicon-flash"></span></a><a href="http://getbootstrap.com/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-paperclip"></span> getbootstrap </a>
    <br></br>
    </div>

    <a href="/djangoapp/llamadahtml5/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> HTML 5 </button></a>
    <a href="/jsapp/llamadajsapp"><button id="NextButton" type="button" class="btn btn-success"> JavaScript <span class="glyphicon glyphicon-arrow-up"></span> </button></a>
{% endblock %}