{%extends "Presentacion/base.html"%}

  {% block title %} DJANGO {% endblock %}

  {% block nav%}
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    </button>
      <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li class="active" ><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
    </ul>
  {% endblock%}

  {% block breadcrumb%}
    <li><a href="/"> Principal</a></li>
    <li><a href="/djangoapp/llamadaDjangoapp/"> Framework</a></li>
     <li><a href="/djangoapp/llamadaDjangoapp/"> Django</a></li>
    <li class="active">Segunda Parte</li>
  {%endblock%}

  {% block barralateral%}
    <li class="active"><a href="/djangoapp/llamadaDjangoapp"><span class="glyphicon glyphicon-leaf"></span> Django</a></li>
    <li><a href="/djangoapp/llamadahtml5"><span class="glyphicon glyphicon-leaf"></span> HTML 5</a> </li> 
    <li><a href="/djangoapp/llamadacss"><span class="glyphicon glyphicon-leaf"></span> CSS</a></li>
  {% endblock %}

  {% block BotonNumero %} 4 {% endblock %}
  {%block content%}
   <a href="/djangoapp/llamadaDjangoapp/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Anterior </button></a>
    <a href="/djangoapp/llamadahtml5/"><button id="NextButton" type="button" class="btn btn-success">HTML 5 <span class="glyphicon glyphicon-arrow-right"></span> </button></a>
    <br></br>
  <h1>4: Conectar templates de distintas aplicaciones</h1>
  <h4>En esta parte es donde se puede observar prácticamente el funcionamiento de vista-templates.</h4>
  <h4> Lo primero que debes hacer es crear el template en otra aplicación a donde quieras dirigirte. Para ello en la aplicación debes crear la carpeta Templates y dentro de esta una subcarpeta con el nombre de la aplicación y dentro de esta el template nuevo, lo cual se aprecia en la siguiente figura.</h4>
  <center><p><img id="border" src="/static/Presentacion/img/ManualDjango/2/1.png"></p></center>
  <h4> Luego en el archivo views.py de tu aplicación, como muestra la siguiente figura, debes crear la función que te redirigirá hacia aquel template en caso de utilizarla. </h4>
  <center><p><img id="border" src="/static/Presentacion/img/ManualDjango/2/2.png"></p></center>
  <h4> Siguiendo con lo anterior, en el archivo "urls.py" de la aplicación, debes importar los views de la misma aplicación y al mismo tiempo hacer la llamada a la función recientemete creada. </h4>
  <center><p><img id="border" src="/static/Presentacion/img/ManualDjango/2/3.png"></p></center>
  <h4> Ahora simplemente debes hacer la referencia correspondiente en el template que deseas redirigir al nuevo template de otra aplicación. Para este ejemplo usaremos solamente una palabra con la referencia correspondiente como muestra la siguiente figura.
  <center><p><img id="border" src="/static/Presentacion/img/ManualDjango/2/4.png"></p></center>
  <h4>A continuación se pueden ver los resultados obtenidos; se creó una palabra simple que dice "LINK", la cual te llevará al template deseado de la otra aplicación.</h4>
  <center><p><img id="border" src="/static/Presentacion/img/ManualDjango/2/5.png"></p></center>
  <h4>En la siguiente imagen se puede ver el resultado al momento de seleccionar la referencia creada anteriormente.</h4>
  <center><p><img id="border" src="/static/Presentacion/img/ManualDjango/2/6.png"></p></center>

   <a href="/djangoapp/llamadaDjangoapp/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Anterior </button></a>
    <a href="/djangoapp/llamadahtml5/"><button id="NextButton" type="button" class="btn btn-success">HTML 5 <span class="glyphicon glyphicon-arrow-right"></span> </button></a>
  {% endblock %}
