{%extends "Presentacion/base.html"%}

  {% block title %} DJANGO {% endblock %}

  {% block nav%}
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    </button>
      <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li class="active" ><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
    </ul>
  {% endblock%}

  {% block breadcrumb%}
    <li><a href="/"> Principal</a></li>
    <li><a href="./"> Framework</a></li>
    <li class="active">Django</li>
  {%endblock%}

  {% block barralateral%}
    <li class="active"><a href="./"><span class="glyphicon glyphicon-leaf"></span> Django</a></li>
    <li><a href="/djangoapp/llamadahtml5"><span class="glyphicon glyphicon-leaf"></span> HTML 5</a> </li> 
    <li><a href="/djangoapp/llamadacss"><span class="glyphicon glyphicon-leaf"></span> CSS</a></li>
  {% endblock %}
{% block BotonNumero %} 3 {% endblock %}
  {%block content%}
      <a href="/djangoapp/llamadaDjangoapp2/"><button id="NextButton" type="button" class="btn btn-success"> Siguiente <span class="glyphicon glyphicon-arrow-right"></span></button></a>
    <br></br>
    <h1>¿Qué es Django?</h1>
      <h4> <span class="glyphicon glyphicon-leaf"></span>  Django es un framework de desarrollo integrado, programado en Python, que tiene como característica base trabajar bajo el concepto de MVT (Model - Views - Templates).</h4>
      <h4>  <span class="glyphicon glyphicon-leaf"></span>  El sitio web django.es declara que "Django es un entorno de desarrollo web escrito en Python que fomenta el desarrollo rápido y el diseño limpio y pragmático".</h4>
    <h1>1: Cómo comenzar un proyecto en Django</h1>
      <h4>Para poder comenzar debes dirigirte por la terminal al directorio donde deseas crear el proyecto.</h4>
      <h4>En la terminal debes anotar el siguiente código: </h4>  
       <center><p><img src ="/static/Presentacion/img/ManualDjango/1/0.png"></p></center>
      <h4>Luego podrás crear aplicaciones para tu proyecto, lo cual se logra con el siguiente código: </h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/1.png"></p></center>
      <h4>Cuando tengas el proyecto con alguna aplicación creada, podrás ver las carpetas y archivos de este, como muestra la siguiente imagen, la cual muestra que el proyecto posee dos carpetas, en este caso, "NewProyect" y "appejemplo": </h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/2.png"></p></center>
    <h1>2: Primeros pasos</h1>
      <h4>Para comenzar a trabajar en tu proyecto deberás crear manualmente dos carpetas básicas en la carpeta del proyecto principal, las cuales llamaremos "static" y "templates". La primera carpeta contendrá todo lo relacionado con el diseño de la página y la segunda contendrá las plantillas que el usuario podrá ver al momento de ingresar a la página.</h4>
       <center><p><img src ="/static/Presentacion/img/ManualDjango/1/3.png"></p></center>
      <h4>En cada una de las carpetas creadas recientemente deberás crear una nueva carpeta llamada con el mismo nombre que tu aplicación principal. Nota: Tu proyecto principal también es una aplicación, solo que sus carpetas se crean por default.</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/4.png"></p></center>
      <h4>Luego dentro de la carpeta de tu aplicación principal, deberás crear el archivo "views.py", el cual será tu controlador que te ayudará a futuro a conectar tus templates con otros, además de ser la base para cualquier función que desees implementar.</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/5.png"></p></center>
      <h4>Como muestra la siguiente imagen, en el archivo "setings.py" deberás agregar en el bloque de INSTALED_APPS todas las aplicaciones creadas en tu proyecto, incluyendo tu aplicación principal.</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/6.png"></p></center>
      <h4>Ahora que tus aplicaciones han sido agregadas, deberás encargarte de que el direccionamiento entre los templates funcione, por lo que irás al archivo "urls.py" y usarás los códigos de ejemplo para señalizar cuál será tu página principal y agregar los urls de tus aplicaciones.</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/8.png"></p></center>
      <h4>Finalmente volverás al archivo "views.py" de tu aplicación principal, que creaste anteriormente, para crear la función en python que dará la instrucción de dirigirse a la página principal, como muestra la siguiente figura:</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/7.png"></p></center>
      <h4>Como se muestra en la imagen anterior, se hace el llamado al template "home.html", por lo que la crearemos dentro de la carpeta templates de nuestra aplicación principal. A modo de ejemplo se escribe un párrafo que dice "Hola Mundo".</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/9.png"></p></center>
    <h1>3: Correr el servidor</h1>
      <h4>Para correr el servidor solo debes ejecutar la siguiente línea en tu terminal, pero recuerda que debes encontrarte en la carpeta principal, en donde se encuentra el archivo "manage.py".</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/10.png"></p></center>
      <h4>Como puedes ver en la última imagen, se observa la página principal "home.html" con su distinguido mensaje.</h4>
        <center><p><img src ="/static/Presentacion/img/ManualDjango/1/11.png"></p></center>

    <a href="/djangoapp/llamadaDjangoapp2/"><button id="NextButton" type="button" class="btn btn-success"> Siguiente <span class="glyphicon glyphicon-arrow-right"></span></button></a>
      
  {% endblock %}

  {% block scripts %}        
  <!-- <script>
  res = prompt("Ingrese su nombre");
  </script> -->
  {% endblock %}
