{%extends "Presentacion/base.html"%}
{% block title %} HTML5 {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li><a href="/"> Principal</a></li>
      <li class="active" ><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>
{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li><a href="/djangoapp/llamadaDjangoapp"> Framework</a></li>
  <li class="active" href="./">HTML 5</li>
{%endblock%}

{% block barralateral%}
      <li><a href="/djangoapp/llamadaDjangoapp"><span class="glyphicon glyphicon-leaf"></span> Django</a></li>
      <li class="active"><a href="/djangoapp/llamadahtml5"><span class="glyphicon glyphicon-leaf"></span> HTML 5</a> </li> 
      <li><a href="/djangoapp/llamadacss"><span class="glyphicon glyphicon-leaf"></span> CSS</a></li>
{% endblock %}

{% block BotonNumero %} 5 {% endblock %}

{%block content%}

    <a href="/djangoapp/llamadaDjangoapp/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Django </button></a>
    <a href="/djangoapp/llamadacss/"><button id="NextButton" type="button" class="btn btn-success">CSS <span class="glyphicon glyphicon-arrow-right"></span> </button></a>
    <br></br>
    <h1>¿Qué es HTML 5?</h1>
    
    <h4> <span class="glyphicon glyphicon-leaf"></span> HTML es una sigla que significa <b>H</b>yper <b>T</b>ext <b>M</b>arkup <b>L</b>anguage.</h4>
    <h4> <span class="glyphicon glyphicon-leaf"></span> HTML 5 es la quinta versión de HTML, el cual es un lenguaje utilizado para la fabricación de páginas web.</h4>
    <h4> <span class="glyphicon glyphicon-leaf"></span> HTML5 tiene como filosofía de desarrollo en la referenciación, es decir, los elementos que se pueden visualizar en una página web, no se encuentran plasmados en el código de la página, sino que se presentan las ubicaciones de estos mediante texto y usando etiquetas se describe la apariencia que tendrán tales elementos.</h4>
    <h4> <span class="glyphicon glyphicon-leaf"></span> Las etiquetas en HTML son palabras reservadas que posee el lenguaje, con el fin de entregarle a la página una estructura definida, dándole las carácterísitcas necesarias para poder efectuar el rol que desea que algún elemento cumpla.</h4>

    <h1>Ejemplo de Código de HTML</h1>
    <h4> Lo más común es que cuando se trabaje en el desarrollo de una página web se haga de manera estructurada, por lo general los códigos de HTML tienen la siguiente forma:</h4>
      <center><p><img id="border" src="/static/Presentacion/img/EjemploHTML5/1.png"></p></center>
    <h4>Ahora si ese simple código lo ejecutamos podremos ver la siguiente plantilla: </h4>
      <center><p><img id="border" src="/static/Presentacion/img/EjemploHTML5/2.png"></p></center>

    <h1>Conexión entre Django y HTML 5</h1>
    <h4>Como ya se ha mostrado en la presente página la conexión entre Django y HTML 5 se basa en los templates, es decir, lo que se muestra al usuario y con esto se puede recalcar que HTML tiene la gran ventaja de ser un lenguaje estandarizado que es útil para muchas tecnologías.</h4>

    <h4>Una de las características principales de Django con HTML5 es la herencia de templates y el trabajo con bloques. Para esta página se utiliźó un template base que contiene prácticamente todo el modelo que se observa. Además se utilizan muchos bloques, que permiten que los demás templates contengan la información de base, sin tener que reescribir el código y al mismo tiempo agregar las características que el template específico necesite.</h4>
    <h4>Para esto bastó con agregar a cada template la siguiente línea al comienzo: 
    <center><b>&#123;%extends "Presentacion/base.html"%&#125;</b></center></h4>
   <center><a href="/djangoapp/llamadaVacio/"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-down"></span> Ver Template Vacío </button></a></center>

    <a href="/djangoapp/llamadaDjangoapp/"><button id="BackButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Django </button></a>
    <a href="/djangoapp/llamadacss/"><button id="NextButton" type="button" class="btn btn-success">CSS <span class="glyphicon glyphicon-arrow-right"></span> </button></a>
{% endblock %}