<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS de Bootstrap -->
    <link href="/static/Presentacion/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/Presentacion/js/bootstrap.js" rel="stylesheet" media="screen">
    <link href="/static/Presentacion/css/base.css" rel="stylesheet" media="screen">
    <!-- FAVICON = ícono que va en la parte superior del web browser-->
    <link rel="icon" type="image/jpg" href="static/Presentacion/img/tecnologias/01.jpg">
    <!-- Libreria css de animaciones-->
    <link rel="stylesheet" href="/static/Presentacion/css/animate.css">
    <!-- Django -->
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    
    <style>
      {% block styles %}
      {% endblock %}
    </style>
    {% block head %}
    {% endblock %}

  </head>
  <body>
      <!-- navbar-fixed-top-->

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">       
          <a class="navbar-brand" href='/'><span class="glyphicon glyphicon-home"></span> Presentación</a>
          {% block nav %}

          <!-->Bloc para la barra navegadora<-->
          {% endblock %}   
          <a href="http://www.usach.cl"><img align="right" id="logousach" src ="/static/Presentacion/img/logousach.png"></a>
      </nav>
         
      <ol class="breadcrumb navbar-fixed-top">
        {% block breadcrumb %}
        {% endblock %}
      </ol>

   
    
  
<div class="row">
  <div  class="col-md-2 container">
   <ul id="barralateral" class="nav nav-pills nav-stacked">
     {% block barralateral%}
     {% endblock %}
   </ul>
  </div>
  <div class="col-md-10">
      <br>
      <center> <button id="NumberButton" type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-ok"></span>_{% block BotonNumero %}{% endblock%}_</button></center>
      <div id="diapo">
      {% block content %}

      {% endblock %} 
      </div>
      <br><br></br></br><br><br>
  </div>
</div>

  <div  id="pies" class = "navbar-inverse navbar-default navbar-fixed-bottom">
    <div class = "container">
       <marquee direction="right"><h4> Universidad de Santiago de Chile - 2° Semestre 2014 - Taller de Base de Datos </h4></marquee>
    </div>
  </div>

   <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
    <script src="/static/Presentacion/js/jquery-1.11.1.min.js"></script>
    
    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="js/bootstrap.min.js"></script>  
  {% block scripts %}

  {% endblock %}
  <script type="text/javascript">
     $(document).ready(function () {
      $('#NextButton').click(function(){
        $('#diapo').addClass(fadeInRight);
      });
      $('#BackButton').click(function(){
        $('#diapo').addClass(fadeInLeft);
      });
  });
  </script>
</body>
</html>