{%extends "Presentacion/base.html"%}
{% block BotonNumero %}15{% endblock%}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li class="active"><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>
{% endblock%}

{% block breadcrumb%}
  <li><a href="/"> Principal</a></li>
  <li class="active"> Descarga y Referencias</li>
{% endblock %}

{% block barralateral%}
   <li><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
	<li><a href="/llamadaNosotros/"><span class="glyphicon glyphicon-leaf"></span> Nosotros </a></li>
   <li class="active" ><a href="/llamadaDescarga"><span class="glyphicon glyphicon-cloud-download"></span> Descarga </a></li>
{% endblock %}

{%block content%}
<h1>Descagas de Bitbucket: </h1>
<center><a href="https://bitbucket.org/IsraelMartinez/presentacion/get/b3baa0b60a66.zip" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-cloud-download"></span> Descarga la Página Actual</a></center>
<h1>Links de Referencias:  </h1>
<center>
<a href="http://django.es/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> Django.es </a>
<a href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> getbootstrap.com</a>
<a href="http://bootswatch.com/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> bootswatch.com</a>

<br></br>
<a href="https://www.djangoproject.com/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> djangoproject.com</a>
<a href="http://www.tutorialrepublic.com/twitter-bootstrap-button-generator.php" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> tutorialrepublic.com</a>
<a href="http://tutorialdjango.com.ar/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> tutorialdjango.com</a>

<br></br>
<a href="http://daneden.github.io/animate.css/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> CSS animate</a>
<a href="http://jquery.com/download/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> JQuery Download</a>
<a href="https://developer.mozilla.org/es/docs/Web/JavaScript" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin"></span> JavaScript</a>
</center>

{% endblock %}