{%extends "Presentacion/base.html"%}

{% block title %} INICIO {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li class="active"><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li class="active">Principal</li>
{% endblock %}

{% block barralateral%}
   <li class="active"><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
	<li><a href="/llamadaNosotros/"><span class="glyphicon glyphicon-leaf"></span> Nosotros </a></li>
   <li><a href="/llamadaDescarga"><span class="glyphicon glyphicon-cloud-download"></span> Descarga </a></li>
 
{% endblock %}

{% block BotonNumero %} 1 {% endblock %}
{%block content%}

<h1> BIENVENIDO :)</h1>

<h4> <span class="glyphicon glyphicon-leaf"></span> La idea de este sitio es poder explicar cómo funciona Django y HTML 5, junto con otros componentes que facilitarán el diseño de las páginas web.</h4>
<h4><span class="glyphicon glyphicon-leaf"></span> Al final de esta presentación podrás usar esta página web para practicar en caso de que así lo desees, pues muchos de los ejemplos mencionados acá se verán reflejados claramente en este proyecto.</h4>

<h1> ÍNDICE REFERENCIADO </h1>

<a id="Indice" href="/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 1: Principal - Bienvenida</a>
<a id="Indice" href="/llamadaNosotros/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 2: Principal - Nosotros</a>
<a id="Indice" href="/djangoapp/llamadaDjangoapp/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 3: Framework - Django - Parte 1</a>
<a id="Indice" href="/djangoapp/llamadaDjangoapp2/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 4: Framework - Django - Parte 2</a>
<a id="Indice" href="/djangoapp/llamadahtml5/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 5: Framework - HTML 5</a>
<a id="Indice" href="/djangoapp/llamadacss/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 6: Framework - CSS y Boostrap</a>
<a id="Indice" href="/jsapp/llamadajsapp/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 7: Javascript - Introducción</a>
<a id="Indice" href="/jsapp/llamadajQuery/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 8: Javascript - jQuery - Parte 1</a>
<a id="Indice" href="/jsapp/llamadajQuery2/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 9: Javascript - jQuery - Parte 2</a>
<a id="Indice" href="/jsapp/llamadadialogo/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 10: Javascript - Dialogos</a>
<a id="Indice" href="/jsapp/llamadaanimacion/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 11: Javascript - Animaciones </a>
<a id="Indice" href="/webserviceapp/llamadawebserviceapp/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 12: Web Service - ¿Qué es?</a>
<a id="Indice" href="/webserviceapp/llamadaObservatorio/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 13: Web Service - Relación con el Observatorio</a>
<a id="Indice" href="/webserviceapp/llamadaImplementacion/" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 14: Web Service - Implementación</a>
<a id="Indice" href="/llamadaDescarga" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 15: Principal - Descarga</a>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>


{% endblock %}

{% block scripts %}        

{% endblock %}