{%extends "Presentacion/base.html"%}

{% block title %} INICIO {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li class="active"><a href="/"> Principal</a></li>
      <li><a href="/djangoapp/llamadaDjangoapp/"> Framework </a> </li> 
      <li><a href="/webserviceapp/llamadawebserviceapp/">Web Service</a></li>
      <li><a href="/jsapp/llamadajsapp">JavaScript</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li class="active">Principal</li>
{% endblock %}
{% block barralateral%}
   <li><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
	<li class="active"><a href="/"><span class="glyphicon glyphicon-leaf"></span> Nosotros </a></li>
   <li><a href="/llamadaDescarga"><span class="glyphicon glyphicon-cloud-download"></span> Descarga </a></li>
 
{% endblock %}

{% block BotonNumero %} 2 {% endblock %}
{%block content%}

<h4><span class="glyphicon glyphicon-leaf"></span> Alumnos de la Universidad de Santiago de Chile, estudiantes de Ingeniería Civil Informática del curso de Taller de Base de Datos. </h4>
<h4><span class="glyphicon glyphicon-leaf"></span> Con el propósito de aprender y enseñar sobre el funcionamiento de Django y HTML 5, dentro de lo posible, a nuestros compañeros, se ha creado la presente página con la información necesaria para comenzar un proyecto simple. </h4>
<h4><span class="glyphicon glyphicon-leaf"></span> Se espera que luego de esta presentación se pueda trabajar por separado en la implementación del framework para los observatorios respectivos, trabajo principal de esta asignatura.</h4>

<h1>Autores:</h1>

<center>
<h4><span class="glyphicon glyphicon-leaf"></span> Cristian Jeldes Jeldes</h4>
<h4><span class="glyphicon glyphicon-leaf"></span> Israel Martínez Montenegro </h4>
<h4><span class="glyphicon glyphicon-leaf"></span> Maximiliano Pérez Rodríguez </h4></center>
<h1>Profesores:</h1>
<center><h4><span class="glyphicon glyphicon-leaf"></span> Felipe Bello </h4>
<h4><span class="glyphicon glyphicon-leaf"></span> Mauricio Marín </h4></center>

<a href="/djangoapp/llamadaDjangoapp/"><button id="NextButton" type="button" class="btn btn-success"> Django <span class="glyphicon glyphicon-arrow-right"></span></button></a>
   

{% endblock %}

{% block scripts %}        

{% endblock %}
