.col-md-2
{
	background-color: white;
	padding-right: 0px;  

}

.col-md-10
{
	padding-right: 5%;
	padding-left: 5%;
	height: 100%;

}
.breadcrumb{
	text-align: left;
	margin-top: 60px;
	margin-bottom: 0px;
}
.nav{
	margin-bottom: 0px;
}
.navbar
{
	background-size: 2%
}

.myCarusel{
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
}

#logousach
{
	max-width: 50px;
	vertical-align: right;	
}
#barralateral
{
	position: fixed; 
	background-color: white;
	min-height: 1000px;
	min-width: 240px;

}

#NextButton
{
	float: right;	
	border-radius: 20px;
}
#BackButton
{
	float: left;	
	border-radius: 20px;
}
#NumberButton
{
	float: center;
	border-radius: 30px;
}

#border
{
	border-radius: 30px;
}
#Indice
{
	float: left;	
	border-radius: 20px;
}
body{
	background-color: #859569;
	margin-top: 95px;
	text-align: justify;
}

h1
{
	color:white;
	
}
h2
{
	color:white;
}
h3
{
	color:white;
}
h4
{
	color:white;
}
p
{
	color:white;
}